<div class="sc-fBgqEL eMDQSR">
    <div class="sc-kITQLZ cOEzgi"><img class="sc-jwrNVz iFYvnS gray" src="./images/partners/binanceLabs-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/binanceLabs.png" /></div>
    <div class="sc-kITQLZ cOEzgi"><img class="sc-jwrNVz iFYvnS gray" src="./images/partners/BSC-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/BSC.png" /></div>
    <a href="https://coinmarketcap.com/exchanges/biswap/" target="_blank" rel="noreferrer" class="sc-kudmJA gOeWrP">
        <img class="sc-jwrNVz iFYvnS gray" src="./images/partners/coinmarket-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/coinmarket.png" />
    </a>
    <a href="https://www.coingecko.com/en/coins/biswap" target="_blank" rel="noreferrer" class="sc-kudmJA gOeWrP">
        <img class="sc-jwrNVz iFYvnS gray" src="./images/partners/coinGecko-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/coinGecko.png" />
    </a>
    <div class="sc-kITQLZ cOEzgi"><img class="sc-jwrNVz iFYvnS gray" src="./images/partners/deBank-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/deBank.png" /></div>
    <a href="https://betfury.io/?r=615c149e6b63cb48af0dd275&amp;utm_source=biswap&amp;utm_medium=logo&amp;utm_campaign=bs_partners" target="_blank" rel="noreferrer" class="sc-kudmJA gOeWrP">
        <img class="sc-jwrNVz iFYvnS gray" src="./images/partners/betfury-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/betfury.png" />
    </a>
    <div class="sc-kITQLZ cOEzgi"><img class="sc-jwrNVz iFYvnS gray" src="./images/partners/dappradar-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/dappradar.png" /></div>
    <div class="sc-kITQLZ cOEzgi"><img class="sc-jwrNVz iFYvnS gray" src="./images/partners/dapp-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/dapp.png" /></div>
    <div class="sc-kITQLZ cOEzgi"><img class="sc-jwrNVz iFYvnS gray" src="./images/partners/BSCDaily-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/BSCDaily.png" /></div>
    <div class="sc-kITQLZ cOEzgi"><img class="sc-jwrNVz iFYvnS gray" src="./images/partners/mexcGlobal-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/mexcGlobal.png" /></div>
    <a href="https://margin.rabbitfinance.io/" target="_blank" rel="noreferrer" class="sc-kudmJA gOeWrP">
        <img class="sc-jwrNVz iFYvnS gray" src="./images/partners/rabbitFinance-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/rabbitFinance.png" />
    </a>
    <div class="sc-kITQLZ cOEzgi"><img class="sc-jwrNVz iFYvnS gray" src="./images/partners/myDefiPet-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/myDefiPet.png" /></div>
    <div class="sc-kITQLZ cOEzgi"><img class="sc-jwrNVz iFYvnS gray" src="./images/partners/BSCNews-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/BSCNews.png" /></div>
    <div class="sc-kITQLZ cOEzgi"><img class="sc-jwrNVz iFYvnS gray" src="./images/partners/coin98-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/coin98.png" /></div>
    <a href="https://ten.finance/" target="_blank" rel="noreferrer" class="sc-kudmJA gOeWrP">
        <img class="sc-jwrNVz iFYvnS gray" src="./images/partners/ten-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/ten.png" />
    </a>
    <div class="sc-kITQLZ cOEzgi"><img class="sc-jwrNVz iFYvnS gray" src="./images/partners/defistation-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/defistation.png" /></div>
    <div class="sc-kITQLZ cOEzgi"><img class="sc-jwrNVz iFYvnS gray" src="./images/partners/altura-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/altura.png" /></div>
    <div class="sc-kITQLZ cOEzgi"><img class="sc-jwrNVz iFYvnS gray" src="./images/partners/faraland-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/faraland.png" /></div>
    <a href="https://zoogame.finance/" target="_blank" rel="noreferrer" class="sc-kudmJA gOeWrP">
        <img class="sc-jwrNVz iFYvnS gray" src="./images/partners/zoo-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/zoo.png" />
    </a>
    <a href="https://cryptomines.app/" target="_blank" rel="noreferrer" class="sc-kudmJA gOeWrP">
        <img class="sc-jwrNVz iFYvnS gray" src="./images/partners/cryptomines-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/cryptomines.png" />
    </a>
    <a href="https://pinecone.finance/" target="_blank" rel="noreferrer" class="sc-kudmJA gOeWrP">
        <img class="sc-jwrNVz iFYvnS gray" src="./images/partners/pinecone-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/pinecone.png" />
    </a>
    <a href="https://www.kalata.io/" target="_blank" rel="noreferrer" class="sc-kudmJA gOeWrP">
        <img class="sc-jwrNVz iFYvnS gray" src="./images/partners/kalata-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/kalata.png" />
    </a>
    <a href="https://cryptobay.io/" target="_blank" rel="noreferrer" class="sc-kudmJA gOeWrP">
        <img class="sc-jwrNVz iFYvnS gray" src="./images/partners/cryptobay-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/cryptobay.png" />
    </a>
    <a href="https://www.airnfts.com/" target="_blank" rel="noreferrer" class="sc-kudmJA gOeWrP">
        <img class="sc-jwrNVz iFYvnS gray" src="./images/partners/airnfts-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/airnfts.png" />
    </a>
    <a href="https://cryptozoon.io/" target="_blank" rel="noreferrer" class="sc-kudmJA gOeWrP">
        <img class="sc-jwrNVz iFYvnS gray" src="./images/partners/cryptozoon-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/cryptozoon.png" />
    </a>
    <a href="https://www.yieldwatch.net/" target="_blank" rel="noreferrer" class="sc-kudmJA gOeWrP">
        <img class="sc-jwrNVz iFYvnS gray" src="./images/partners/yieldwatch-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/yieldwatch.png" />
    </a>
    <a href="https://app.acryptos.com/biswap/" target="_blank" rel="noreferrer" class="sc-kudmJA gOeWrP">
        <img class="sc-jwrNVz iFYvnS gray" src="./images/partners/acryptos-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/acryptos.png" />
    </a>
    <a href="https://xpsgame.io/" target="_blank" rel="noreferrer" class="sc-kudmJA gOeWrP">
        <img class="sc-jwrNVz iFYvnS gray" src="./images/partners/xpansion-gray.png" /><img class="sc-jwrNVz iFYvnS color" src="./images/partners/xpansion.png" />
    </a>
</div>
